<div class="d-flex align-items-center justify-content-center flex-column">
  <div class="mb-5 p-3 result d-flex align-items-center justify-content-center" [ngStyle]="{'border-color': borderColor}">
    <mat-spinner *ngIf="loading" mode="indeterminate" diameter="70"></mat-spinner>
    <p *ngIf="!loading" class="mb-0 mat-subheading-1 text-center">{{result}}</p>
  </div>
  <app-number-to-form type="words" color="primary" icon="more_horiz" [clicks]="clicks$"></app-number-to-form>
  <app-number-to-form type="dollars" color="accent" icon="attach_money" decimal="true" [clicks]="clicks$"></app-number-to-form>
</div>
