<button mat-flat-button [color]="color" class="mr-3" (click)="sendRequest()">Отправить</button>
<mat-form-field class="example-full-width">
  <mat-label>Введите число</mat-label>
  <input type="text"
         inputmode="numeric"
         [decimal]="decimal"
         digitOnly
         matInput
         [(ngModel)]="value"
         (keydown.enter)="sendRequest()"
  >
  <mat-icon matSuffix>{{icon}}</mat-icon>
</mat-form-field>


